*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    height: 200px;
    padding:20px 0;
}
.logo {
    width: 50%;
}

.menu {
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a {
    color:black;
    text-decoration: none;
    font-weight: bold 15px;
    margin-right: 15px;
}

.section.about {
    height: calc(100% - 200px);
    position: relative;
}

.extras {
    position:absolute;
    bottom:-450px;
    right:-500px;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background-color: #006c3c;
}

.social-media {
    position:absolute;
    right: 510px;
    top: 200px;
}

.social-media img {
    display: block;
    width: 20px;
    margin: 20px 0;
}

.title-starbucks {
    color: #006c3c;
}

.text-about {
    margin-top:100px;
}

.text-about h1 {
    font-size: 80px;
}

.text-about p {
    margin: 20px, 0;
    font-size: 20px;
    max-width: 800px;
    margin-top: 15px;
}

.text-about  button {
    border: 0;
    background-color: #006c3c;
    color: white;
    border-radius:15px;
    padding: 10px;
    cursor: pointer;
    margin-top: 16px;
    font-size: 17px;
}